body{
    font-family: helvetica;
    color: #000;
    text-align: center;
    background-color: #eee;
    margin-top: 70px;
}

p{
    font-size: 12px;
    margin: 7px;
}

h1{
    font-family: garamond, serif;
    color: #2d2d2d;
    font-size: 40px;
    display: inline-block;
    padding: 10px;
}

h2{
    color: #2d2d2d;
    font-size: 25px;
}

a{
    color: #2d2d2d;
    font-size: 12px;
    padding: 10px;
    background-color: #2d2d2d;
    color: #fff;
    border: 0px;
    padding: 5px 5px;
}

form{
    display: inline-block;
    background-color: #2d2d2d;
    color: #fff;
    border: 0px;
    padding: 10px 5px;
    margin: 10px;
    font-size: 12px;
}

 button{
    background-color: #2d2d2d;
    color: #fff;
    border: 0px;
    padding: 10px;
    margin: 10px;
}

ul{
    color: #2d2d2d;
    font-size: 12px;
    list-style-type: none;
}
textarea{
    width: 300px;
    height: 200px;
}
